<div class="m-5 ">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Author/Publisher</span>
      <span class="example-spacer"></span>
      <span>
        <button class="btn btn12" (click)="addAuthor()">Add New Author/Publisher</button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="table-responsive-sm">
    <table class="table">
        <tr>
          <th>S.No</th>
          <th>First Name</th>
          <th>Last Lame</th>
          <th>Author/Publisher</th>
          <th>Language</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
    </table>
      <table class = "gfg table">
        <tr class="bg-light">
          <td class = "geeks">1<br>
              <button class="btn btn1" (click)="addAuthor()">Edit &nbsp;&nbsp;|</button>
              <button class="btn btn2">Delete</button>
          </td>
          <td>Ray</td>
          <td>Alex</td>
          <td>Author</td>
          <td>English</td>
          <td>12/04/2019</td>
          <td>Active</td>
        </tr>
        <tr class="bg-light">
            <td class = "geeks">2<br>
              <button class="btn btn1" (click)="addAuthor()">Edit &nbsp;&nbsp;|</button>
              <button class="btn btn2">Delete</button>
            </td>
            <td>Jem</td>
            <td>Rog</td>
            <td>Author</td>
            <td>English</td>
            <td>12/04/2019</td>
            <td>Active</td>
          </tr>
        </table>
  </div>
</div>