<div class="m-5 ">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Category Management</span>
        <span class="example-spacer"></span>
        <span>
          <button class="btn btn12" (click)="openDialog()">Add New Category</button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="my-2 bgt">
        <mat-toolbar-row style="width: 100%;">
          <span style="width: 70%;">Title</span>
          <span style="width: 15%;">Date</span>
          <span style="width: 15%;">Status</span>
        </mat-toolbar-row>
      </mat-toolbar>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
             <table id="customers" style="width: 100%;">
                <tr>
                  <td style="width: 70%;">{{node.name}}<br>
                  <button class="btn btn1" (click)="openDialog()">Edit&nbsp;&nbsp;|</button>
                  <button class="btn btn2">Delete</button>
                  </td>
                  <td style="width: 15%;">{{node.status}}</td>
                  <td style="width: 15%;">{{node.date}}</td>
                </tr>
              </table>
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li class="mt-3 bg-white">
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <table id="customers" style="width:100%;">
                <tr>
                  <td style="width: 70%;">{{node.name}}<br>
                    <button class="btn btn1" (click)="openDialog()">Edit &nbsp;&nbsp;|</button>
                    <button class="btn btn2">Delete</button>
                  </td>
                  <td style="width: 15%;">{{node.status}}</td>
                  <td style="width: 15%;">{{node.date}}</td>
                </tr>
              </table>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
  </div>

